<%= form_for @movie, html: { multipart: true } do |f| %>
	<% if @movie.errors.any? %>
	<ul>
		<% @movie.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :subtitle %>
		<%= f.text_field :subtitle %>
	</p>
	<p>
		<%= f.label :quality_id %>
		<%= f.select :quality_id, Quality.all.map { |quality| [quality.name, quality.id] } %>
	</p>
	<p>
		<%= f.label :three_dimensional %>
		<%= f.check_box :three_dimensional %>
	</p>
	<p>
		<%= f.label :release_year %>
		<%= f.select :release_year, (Date.today.year).downto(1940).to_a %>
	</p>
	<p>
		<%= f.label :size %> in MB
		<%= f.text_field :size %>
	</p>
	<p>
		<%= f.label :cover %>
		<%= f.file_field :cover %>
	</p>
	<p>
		<%= f.label :length %> in min
		<%= f.text_field :length %>
	</p>
	<p>
		<%= f.label :show_recommended %>
		<%= f.check_box :show_recommended %>
	</p>
	<p>
		<%= f.label :information %>
		<%= f.text_area :information %>
	</p>
	<p><%= f.submit %></p>
<% end %>