<h2>Filme</h2>
<%= form_tag movies_path, method: "get" do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag :search, name: nil %>
	</p>
<% end %>

<div class="movies_list">
	<% @movies.each do |movie| %>
		<%= link_to movie_path(movie), class: "movie_item" do %>
			<%= image_tag movie.cover(:small), class: "cover" %>
			<div class="information">
				<h4><%= movie.title %> (<%= movie.release_year %>)</h4>
				<span>Qualität:</span><%= Quality.find(movie.quality_id).name %><br />
				<span>Dauer:</span><%= Time.at(movie.length).to_formatted_s(:time) %><br />
				<span>
			</div>
			<%= image_tag("accepted.png", class: "visited") if @current_user.has_seen?(movie) %>
			<div class="clear"></div>
		<% end %>
	<% end %>
	<div class="clear"></div>

	<%= will_paginate @movies %>
	<%= link_to 'Film hinzufügen', new_movie_path %>
</div>