<div class="movie_description">
	<%= image_tag @movie.cover(:medium) %>
	<span class="information">
		<h2><%= @movie.title %><%= "<small> - #{@movie.subtitle}</small>".html_safe unless @movie.subtitle.empty? %></h2>
		<span>Erscheinungsdatum:</span> <%= @movie.release_year %><br />
		<span>Dauer:</span> <%= Time.at(@movie.length).to_formatted_s(:time) %><br />
		<span>Größe:</span> <%= number_with_precision(@movie.size/1024.0, precision: 2) %> Gigabyte<br />
		<span>Qualität:</span> <%= Quality.find(@movie.quality_id).name %><br />
		<span>Gesehen von:</span> <%= @movie.seen_movies.count %> Personen<br />
		<span>Kategorien:</span> Kommt noch
	</span>
	<div class="clear"></div>

	<% if @current_user.has_seen?(@movie) %>
		<%= link_to "Gesehen", movie_seen_movie_path(@movie, 1), class: "button visited", method: :put %>
	<% else %>
		<%= link_to "Nicht gesehen", movie_seen_movie_path(@movie, 1), class: "button not_visited", method: :put %>
	<% end %>
</div>

<div class="movie_ratings">
	<h2>Bewertung <small>von anderen Benutzern</small></h2>
	<% @movie.ratings.all(order: "created_at desc").each do |rating| %>

	<div class="rating">
		<%= image_tag rating.user.avatar(:small), class: "avatar" %>
		<div class="text">
			<%= link_to rating.user.full_name, user_path(rating.user) %> sagt,<br />
			<%= rating.comment %><br />
			<% if rating.user == @current_user %>
				<%= link_to "Edit", edit_movie_rating_path(@movie, rating) %>
				<%= link_to "Delete", movie_rating_path(@movie, rating), method: :delete %>
			<% end %>
		</div>
		<div class="ratings">
			<span>Gesamt:</span> <%= stars_images(rating.rating_average) %><br />
			<span>Film:</span> <%= stars_images(rating.rating_general) %><br />
			<span>Qualität:</span> <%= stars_images(rating.rating_quality) %><br />
		</div>
		<div class="clear"></div>
	</div>
	<% end %>

	<h3>Bewertung schreiben</h3>
	<%= form_for [@movie, @rating] do |f| %>
		<% if @rating.errors.any? %>
		<ul>
			<% @rating.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
		<% end %>

		<p>
			<%= f.label :rating_general %>
			<%= f.select :rating_general, 10.downto(0).to_a %>
		</p>
		<p>
			<%= f.label :rating_quality %>
			<%= f.select :rating_quality, 10.downto(0).to_a %>
		</p>
		<p>
			<%= f.label :comment %>
			<%= f.text_area :comment %>
		</p>
		<p><%= f.submit %></p>
	<% end %>
</div>