<div class="movie_description">
	<%= image_tag @movie.cover(:medium) %>
	<div class="information">
		<h2 title="<%= @movie.title %>"><%= truncate(@movie.title, length: 26, truncate_string: "...") %></h2>
		<div><span>Erscheinungsjahr:</span><%= @movie.release_year %></div>
		<div><span>Dauer:</span><%= t("text.movie.hours", count: @movie.length/60) %> <%= t("text.movie.minutes", count: @movie.length%60) %></div>
		<div><span>Größe:</span><%= number_with_precision(@movie.size/1024.0, precision: 2) %> Gigabyte</div>
		<div><span>Qualität:</span><%= Quality.find(@movie.quality_id).name %></div>
		<div><span>Kategorien:</span><%= truncate(@movie.genres.map { |g| g.name }.join(", "), length: 40, truncate_string: "...") %></div>
		<div>
			<span class="label">Gesehen von:</span>
			<div class="avatars_small">
				<% if @movie.seen_movies.count > 0 %>
					<% @movie.seen_movies.each do |seen_movie| %>
						<%= link_to (image_tag seen_movie.user.avatar(:small)), user_path(seen_movie.user), title: seen_movie.user.full_name, class: "tooltip" %>
					<% end %>
				<% else %>
					<%= t("text.movie.persons", count: 0) %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div id="movie_action_buttons">
		<%= render partial: "movies/vote_button" %>
		<%= render partial: "movies/toggle_button" %>
		<div class="clear"></div>
	</div>
</div>

<% unless @movie.description.blank? %>
	<div class="movie_description_text">
		<div class="collapsed"><%= @movie.description %></div>
		<%= link_to "&raquo; Weiterlesen".html_safe, "javascript:void(0)" %>
	</div>
<% end %>


<% if @current_user.is_admin? %>
	<%= link_to "Bearbeiten", edit_movie_path(@movie), class: "button small" %>
	<%= link_to "Löschen", movie_path(@movie), confirm: 'Bist du sicher, dass du diesen Film löschen willst?', class: "button small", method: :delete %>
<% end %>

<div class="movie_ratings">
	<% if @movie.ratings.count > 0 %>
		<h2>Bewertungen</h2>
		<% @movie.ratings.all(order: "created_at desc").each do |rating| %>
		<div class="rating">
			<%= image_tag rating.user.avatar(:small), class: "avatar" %>
			<div class="text">
				<%= link_to rating.user.full_name, user_path(rating.user), class: "profile_link" %> sagt,<br />
				<%= rating.comment %><br />
				<% if rating.user == @current_user %>
					<%= link_to "Bearbeiten", edit_movie_rating_path(@movie, rating), class: "button small" %>
					<%= link_to "Löschen", movie_rating_path(@movie, rating), method: :delete, class: "button small" %>
				<% end %>
			</div>
			<div class="ratings">
				<span>Gesamt:</span> <%= stars_images(rating.rating_average) %><br />
				<span>Film:</span> <%= stars_images(rating.rating_general) %><br />
				<span>Qualität:</span> <%= stars_images(rating.rating_quality) %><br />
			</div>
			<div class="clear"></div>
		</div>
		<% end %>
	<% end %>

	<% unless @current_user.has_rated?(@movie) %>
		<h3>Bewertung schreiben</h3>
		<%= form_for [@movie, @rating] do |f| %>
			<%= render partial: "shared/error_messages", locals: { errors: @rating.errors.full_messages } %>
			<p>
				<%= f.label :rating_general %>
				<%= f.select :rating_general, 10.downto(0).to_a %>
			</p>
			<p>
				<%= f.label :rating_quality %>
				<%= f.select :rating_quality, 10.downto(0).to_a %>
			</p>
			<p>
				<%= f.label :comment %>
				<%= f.text_area :comment %>
			</p>
			<p><%= f.submit "Speichern", class: "button" %></p>
		<% end %>
	<% end %>
</div>