<h2>Profil bearbeiten</h2>
<%= form_for @user, html: { multipart: true, autocomplete: "off" } do |f| %>
	<% if @user.errors.any? %>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>
	
	<p>
		<%= f.label :firstname %>
		<%= f.text_field :firstname %>
	</p>
	<p>
		<%= f.label :lastname %>
		<%= f.text_field :lastname %>
	</p>
	<p>
		<%= f.label :avatar %>
		<%= f.file_field :avatar %>
	</p>
	<p>
		<%= f.label :highlights_view %>
		<%= f.select :highlights_view, [["Empfohlene Filme", "recommended"], ["Neue Filme", "new"]] %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</p>
	<p><%= f.submit "Bearbeiten", class: "button" %></p>
<% end %>