<div class="users_header">
	<h2>Benutzer</h2>
</div>

<div class="users_list">
	<% @users.each do |user| %>
		<%= link_to user_path(user), class: "user_item" do %>
			<%= image_tag user.avatar(:medium), class: "avatar" %>
			<div class="information">
				<h4><%= user.full_name %></h4>
				<span>Gesehen:</span><%= user.seen_movies.length %><br />
				<span>Bewertet:</span><%= user.ratings.length %>
			</div>
			<div class="clear"></div>
		<% end %>
	<% end %>
	<div class="clear"></div>
</div>

<% if @current_user.is_admin? && !@users_not_active.empty? %>
	<h2>Nicht aktivierte Benutzer</h2>
	<div class="users_list">
		<% @users_not_active.each do |user| %>
			<span class="user_item">
				<%= image_tag user.avatar(:medium), class: "avatar" %>
				<div class="information">
					<h4><%= user.full_name %></h4>
					<%= link_to "Aktivieren", user_path(user), method: :activate %><br />
					<%= link_to "Löschen", user_path(user), method: :delete %>
				</div>
				<div class="clear"></div>
			</span>
		<% end %>
		<div class="clear"></div>
	</div>
<% end %>

					
