<div class="user_description">
	<%= image_tag @user.avatar.url(:medium) %>
	<span class="information">
		<h2><%= @user.full_name %></h2>
		<span>Gesehene Filme:</span> <%= @user.seen_movies.count %><br />
		<span>Bewertete Filme:</span> <%= @user.ratings.count %>
	</span>
	<div class="clear"></div>
</div>
<%= (link_to "Benutzer löschen", user_path(@user), method: :delete, confirm: "Bist du sicher, dass du den Benutzer löschen willst?", class: "button small") if @current_user.is_admin? %>

<h2>Letzte Aktivitäten</h2>
<div id="activities">
	<% @last_activities.each do |activity| %>
		<div class="activity">
			<% if activity.class == SeenMovie %>
				<div class="activity_movie"><%= image_tag activity.movie.cover(:small) %></div>
				<div class="activity_description">
					<b>Ich</b> habe,<br />
					<%= link_to activity.movie.title, movie_path(activity.movie), class: "link_movie" %>
					<%= " vor #{time_ago_in_words(activity.created_at)} als gesehen markiert" %>
				</div>
			<% elsif activity.class == Rating %>
				<div class="activity_movie"><%= image_tag activity.movie.cover(:small) %></div>
				<div class="activity_description">
					<b>Ich </b>habe,<br />
					<%= link_to activity.movie.title, movie_path(activity.movie), class: "link_movie" %>
					<%= " vor #{time_ago_in_words(activity.created_at)} Bewertet. Film: #{activity.rating_general}, Qualität: #{activity.rating_quality}" %><br />
					<%= "<span>&bdquo;#{activity.comment}&rdquo;</span>".html_safe %>
				</div>
			<% elsif activity.class == Status %>
				<div class="activity_user"><%= image_tag activity.user.avatar(:small) %></div>
				<div class="activity_description">
					<b>Ich</b> habe vor <%= time_ago_in_words(activity.created_at) %> einen Status geschrieben:<br />
					<%= "<span>&bdquo;#{activity.comment}&rdquo;</span>".html_safe %>
				</div>
			<% elsif activity.class == Wish %>
				<div class="activity_user"><%= image_tag activity.created_by_id.avatar(:small) %></div>
				<div class="activity_description">
					<b>Ich</b> habe,<br />
					<%= "den Film &bdquo;#{activity.movie_title}&rdquo; vor #{time_ago_in_words(activity.created_at)} gewünscht".html_safe %><br />
				</div>
			<% end %>
			<div class="clear"></div>
		</div>
	<% end %>
</div>