<!DOCTYPE html>
<html>
<head>
  <title>Moviedatabase</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="navigation">
		<div class="inner">
			<div class="brand">
				<%= link_to "meine<span>filme.net</span>".html_safe, home_path %>
			</div>
			<div class="menu">
				<%= nav_link_to "FILME", movies_path, {}, { ignore_params: true } %>
				<%= nav_link_to "BENUTZER", users_path, {}, { ignore_params: true } %>
			</div>
			<div class="user">
				<% if user_signed_in? %>
					<%= image_tag @current_user.avatar(:thumb) %>
					<div class="settings">
						Willkommen <%= link_to @current_user.full_name, user_path(@current_user) %><br />
						<%= link_to "Profil bearbeiten", edit_user_path(@current_user) %> - <%= link_to "Abmelden", logout_path, method: :delete %>
					</div>
				<% else %>
					Sie sind nicht eingeloggt
				<% end %>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div id="recommended_movies">
		<div class="inner">
			<a href="#" class="big">
				<img src="" alt="" />
				<div class="caption">Hangover 3 <span>hinzugef&uuml;gt am 27.10.2013 - 18:34</span></div>
			</a>
			<a href="#" class="small">
				<img src="" alt="" />
				<div class="caption">Hangover 3 <span>27.10.2013</span></div>
			</a>
			<a href="#" class="small">
				<img src="" alt="" />
				<div class="caption">Hangover 3 <span>27.10.2013</span></div>
			</a>

		</div>
	</div>
	<div id="content">
		<% if flash[:notice] %><div class="message notice"><%= flash[:notice] %></div><% end %>
		<% if flash[:alert] %><div class="message alert"><%= flash[:alert] %></div><% end %>
		<%= yield %>
	</div>

</body>
</html>
